@media screen and (max-width: 576px) {
  .carousel-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px; } }

@media screen and (min-width: 576px) and (max-width: 992px) {
  .carousel-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px; } }

@media screen and (min-width: 992px) {
  .carousel-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px; } }

@media screen and (max-width: 576px) {
  .logo {
    width: 180px; }
  .navbar {
    background-color: #E5E1C4;
    height: 5em;
    padding: 0 5%; }
  footer {
    background-color: #ECECEC;
    padding: 0 5%; }
  .logo-footer {
    width: 180px; } }

@media screen and (min-width: 576px) and (max-width: 992px) {
  .logo {
    width: 180px; }
  .navbar {
    background-color: #E5E1C4;
    height: 5em;
    padding: 0 5%; }
  footer {
    background-color: #ECECEC;
    padding: 0 5%; }
  .logo-footer {
    width: 180px; } }

@media screen and (min-width: 992px) {
  .logo {
    width: 180px; }
  .navbar {
    background-color: #E5E1C4;
    height: 5em;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  footer {
    background-color: #ECECEC;
    padding: 0 5%; }
  .logo-footer {
    width: 180px; } }
