@media screen and (max-width: 576px) {
  .carousel-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px; } }

@media screen and (min-width: 576px) and (max-width: 992px) {
  .carousel-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px; } }

@media screen and (min-width: 992px) {
  .carousel-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px; } }
