@media screen and (max-width:576px) {
    video {
        padding: 0 20px;
        width: 100%;
    }

    main {
        background-color: #ECECEC;
    }

    .section-title {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        align-items: center;
        height: 3em;
        padding: 0 16px;
        background-color: #ECECEC;
        font-family: 'Times New Roman', Times, serif;
        font-size: 3em;
        font-weight: lighter;
    }

    @media screen and (min-width:576px) and (max-width:992px) {
        video {
            padding: 0 20px;
            width: 100%;
        }

        main {
            background-color: #ECECEC;
        }

        .section-title {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: space-between;
            align-items: center;
            height: 3em;
            padding: 0 16px;
            background-color: #ECECEC;
            font-family: 'Times New Roman', Times, serif;
            font-size: 3em;
            font-weight: lighter;
        }

        @media screen and (min-width: 992px) {
            video {
                padding: 0 20px;
                width: 100%;
            }

            main {
                background-color: #ECECEC;
            }

            .section-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 2.5em;
                padding: 0 16px;
                background-color: #ECECEC;
                font-family: 'Times New Roman', Times, serif;
                font-size: 3em;
                font-weight: lighter;
            }
        }
    }
}